{% extends "AperoEventBundle::layout.html.twig" %}

{% block title %}
	Mes Bars - {{ parent() }}
{% endblock %}

{% block AperoEvent_body %}
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
  <h3>Liste des Bars</h3>

  <div class='barList'>
        <ul>
        	{% for bar in listBars %}
            <a href="{{ path('apero_bar_view', {'id': bar.id}) }}">
               <li onclick="location.href='{{ path('apero_bar_view', {'id': bar.id}) }}'">
                    {{ bar.nom }}                    
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <span> - </span><a href="{{ path('apero_bar_edit', {'id': bar.id}) }}"><img src="{{ asset('bundles/aperoevent/images/EditBlock.png') }}" alt="Modifier" /></a>
                        <span> - </span><a href="{{ path('apero_bar_delete', {'id': bar.id}) }}"><img src="{{ asset('bundles/aperoevent/images/DeleteBlock.png') }}" alt="Supprimer" /></a>
                    {% endif %}
                </li>
            </a>
            {% else %}
                <li>Aucun bars dans la liste.</li>
            {% endfor %}
        </ul>
    </div>

    <div class='newE'>
        {% if is_granted('ROLE_VALIDATE') %}
            <a href="{{ path('apero_bar_add') }}"><img src="{{ asset('bundles/aperoevent/images/AddBlock.png') }}" alt="Ajouter un bar"  class='add'/></a>
        {% endif %}
    </div>

{% endblock %}