{% extends "AperoEventBundle::layout.html.twig" %}

{% block title %}
  Ajouter un Bar - {{ parent() }}
{% endblock %}

{% block AperoEvent_body %}

	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	<h3>Bar - {{ bar.nom }}</h3>

	<div class='viewB'>
    	Adresse: {{ bar.adresse }}<br />
    	Descrition: {{ bar.description }}<br />
    	<br /><br />
    	<a href="{{ path('apero_bar_homepage') }}"><button>Retour à la liste</button></a>
  		<a href="{{ path('apero_bar_edit', {'id': bar.id}) }}"><button>Modifier</button></a>
  		<a href="{{ path('apero_bar_delete', {'id': bar.id}) }}"><button>Supprimer</button></a>
	</div>
	
{% endblock %}