{% extends "AperoEventBundle::layout.html.twig" %}

{% block title %}
  Modifier un Evènement - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {% stylesheets '@AperoEventBundle/Resources/public/css/jquery.datetimepicker.css' output='css/compiled/datepicker.css'%}
    	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{% javascripts '@AperoEventBundle/Resources/public/js/jquery.js' output='js/compiled/main.css' %}
	  <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% javascripts '@AperoEventBundle/Resources/public/js/jquery.datetimepicker.js' %}
	  <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block AperoEvent_body %}

<script type="text/javascript">
	$(function(){
		{% if event.genre == true %}
			$('#apero_eventbundle_event_invites').empty();
			{% for id,name in allMen %}
				var participe = false;
				{% for participant in participants %}
					{% if participant == id %}
						var participe = true;
					{% endif %}
				{% endfor %}
				if (participe)
				{
					$('#apero_eventbundle_event_invites').append("<option value='" +"{{ id }}"+ "' selected=selected>" +"{{ name }}"+ "</option>");
				}
				else
				{
					$('#apero_eventbundle_event_invites').append("<option value='" +"{{ id }}"+ "'>" +"{{ name }}"+ "</option>");
				}
			{% endfor %}
		{% endif %}


		$('#apero_eventbundle_event_genre_0').on('click', function(){
			$('#apero_eventbundle_event_invites').empty();
			{% for id,name in allMen %}
				$('#apero_eventbundle_event_invites').append("<option value='" +"{{ id }}"+ "'>" +"{{ name }}"+ "</option>");
			{% endfor %}
		});

		$('#apero_eventbundle_event_genre_1').on('click', function(){
			$('#apero_eventbundle_event_invites').empty();
			{% for id,name in allInvites %}
				$('#apero_eventbundle_event_invites').append("<option value='" +"{{ id }}"+ "'>" +"{{ name }}"+ "</option>");
			{% endfor %}
		});

	    $("#form_date input").each(function(){
	        $(this).attr("readonly","readonly");
	    });
	    $('#form_date_date').datetimepicker({
	        format: "d/m/Y",
	        timepicker: false,
	        datepicker: true,
	    });
	    $('#form_date_time').datetimepicker({
	        format: "H:i",
	        timepicker: true,
	        datepicker: false,
	        step:5
	    });
	});
</script>

  <h3>Modification de l'évènement {{ event.name }}</h3>

  <div class='formE'>
  	{{ form_start(form) }}
    {{ form_row(form.name) }}<br />
    {{ form_row(form.date) }}<br />
    {{ form_row(form.bar) }}<br />
    <a href="{{ path('apero_bar_add') }}"><button>Ajouter un Bar</button></a><br /><br />
	{{ form_row(form.genre) }}<br />
    {{ form_row(form.invites) }}<br />
    <br />
    {{ form_row(form.Modifier) }}<br />
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <a href="{{ path('apero_event_homepage') }}"><button>Retour à la liste</button></a>
  </div>
{% endblock %}