<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1.0"/>
	</head>
	<body>
		Bonjour {{ event.createdBy.username }},
		Vous avez créé l'évènement: {{ event.name }} sur le site Apéro.<br /><br />
		L'évènement aura lieu le {{ event.date|date('d/m/Y H:i') }} au bar {{ event.bar.nom }}.<br /><br />
		Vous avez invité:
		<ul>
			{% for invite in invites %}
				<li>{{ invite }}</li>
			{% endfor %}
		</ul>
	</body>
</html>
